:root {

  --accent-color: #424e6a;
  --accent-hover-color: #2563eb;
  --accent-inactive-color: #9ca3af;
  --header-color: #1f2937;
  --action-blue: #3B82F6;
  --action-blue-hover: #2563eb;
  --optional-header-color: #374151;
  --font-weight-bold: 600;
  --bold-gray: #595959;

  --cleave-orange: #F0750A;
  --cleave-purple: #525df8;
  --cleave-purple-hover: #4147d1;
}

.resize-handle {
  position: absolute;
  top: 0;
  right: -12px;
  height: 100%;
  width: 24px;
  cursor: ew-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.resize-handle:hover {
  background-color: rgba(82, 93, 248, 0.1);
}

.resize-handle-icon {
  width: 20px;
  height: 64px;
  border-radius: 1rem;
  color: white;
  background-color: var(--cleave-purple);
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.resize-handle:hover .resize-handle-icon {
  opacity: 1;
}
